doctype html

html

  head
    style
      include:stylus index.styl
    script(type = "module" src = "/build/browser/test/client/index.js")
  body
    header
      h1 Vellum Lookbook

    main

      include nav

      include markdown

      include article
