mixin menu
  :yaml
    items:
      - label: Home
        link: /
        sprite: /build/browser/src/media/images/sprites.svg#home

      - label: Preview
        link: /preview
        sprite: /build/browser/src/media/images/sprites.svg#preview

      - label: Publish
        link: /publish
        sprite: /build/browser/src/media/images/sprites.svg#publish

h2 Vellum Nav

h3 Default

section.showcase

  vellum-nav
    script( type = "application/json" )
      +menu

h3 Grid

section.showcase

  vellum-nav.grid
    script( type = "application/json" )
      +menu

h3 Inline

section.showcase

  vellum-nav.inline
    script( type = "application/json" )
      +menu
