h2 Vellum Tabs

section.showcase

  vellum-tabs
    span( slot = "tab-english" selected) English
    div( slot = "panel-english" ) Hello!
    span( slot = "tab-spanish") Spanish
    div( slot = "panel-spanish" ) Hola!
