h2 Vellum Tabs

section.showcase

  vellum-tabs
    label( slot = "label" data-key = "spanish" selected ) Spanish
    div( slot = "content" data-key = "spanish" ) Hola!

    label( slot = "label" data-key = "english" ) English
    div( slot = "content" data-key = "english" ) Hello!
