:host
  display block
  height 100%

main
  display flex
  height 100%

  // .pane

  // TODO for a vertical split, we'd want to set the gutter *height*

  .gutter
    background var(--gutter-color, transparent)
    border-top var(--gutter-border-top, none)
    border-left var(--gutter-border-left, none)
    border-bottom var(--gutter-border-bottom, none)
    border-right var(--gutter-border-right, none)
    cursor col-resize
    margin 0 var(--gutter-margin, 0.5rem)
    flex-basis var(--gutter-width, 0.25rem)
    align-self stretch
