:host
  display block
  width 100%

header
  display flex
  gap 0.25rem

::slotted([slot="tab"])
  flex-grow 1
  padding 0.5rem
  border 1px solid var(--accent)
  // border-start-start-radius 0.5rem
  border-start-end-radius 0.5rem

::slotted([slot="tab"][selected])
  color var(--background)
  background var(--foreground)

::slotted([slot="panel"]:not([selected]))
  display none

