:host
  display block

header
  display flex

  button
    background transparent
    cursor pointer
    padding var(--tab-padding, 0.75rem)
    border 1px solid silver
    border-top-left-radius 0.5rem
    border-top-right-radius 0.5rem
    margin-right 0.125rem
    transition border-width 0.1s linear

    &[selected]
      border-bottom 2px solid black

section
  display block

  &[aria-hidden='true']
    display none
