// adapted from: https://codepen.io/rstrangh/pen/dGweRo

:host
  display block
  :focus
    outline none
    box-shadow 0 0 0 1px var(--accent)

label + div
  overflow hidden
  transition all 0.2s ease-in-out

label
  padding 0
  margin 0
  user-select none
  cursor pointer
  display block

  ::slotted([data-state="open"])
    display none
  ::slotted([data-state="closed"])
    display block

::slotted([slot='content'])
  display none

input[id="toggle"]
  padding 0
  margin 0
  position absolute
  opacity 0
  z-index -1

input[id="toggle"]
  pointer-events none

input:checked + label
  ::slotted([data-state="open"])
    display block
  ::slotted([data-state="closed"])
    display none

  + ::slotted([slot="content"])
    display block
