:host([disabled]) main
  opacity 0.5

:host([type="text"])
:host([type="prose"])
  grid-column span 2

:host([type="range"])
  ::slotted(datalist)
    order 2
    flex 1 1 auto
    display flex
    justify-content space-between

