@keyframes fade
  0%
    opacity 0 
  25%
    opacity 1
  75%
    opacity 1
  100%
    opacity 0

:host
  display block
  overflow auto
  flex-grow 1

.container
  display flex
  align-items center
  min-height s("calc(1lh + 0.5rem)")
  border-radius 0.5rem
  color var(--background)
  padding-inline 0.25rem
  text-wrap nowrap
  overflow scroll

  &::before
    margin-inline 0.5rem

  &.fade
    animation fade 10s ease alternate
  
  &.success
    background var(--success)
    &::before
      // checkmark
      content "\2713"

  &.info
    background var(--info)
    &::before
      // circle i
      content "\24d8"

  &.warning
    background var(--warning)
    &::before
      // triangle exclamation
      content "\26A0"

  &.failure
    background var(--failure)
    // circle x
    &::before
      content "\24e7"
