// The shenanigans in what follows WRT to borders
// is due to the fact that there's apparently (?)
// no simple way to give a table rounded borders
// — you have to select each of the corner cells
// of the table and round each corner individually

table
  font-size 1rem
  line-height 1.25rem
  border-collapse separate
  border-spacing 0
  margin-bottom 2rem

  p, ul, blockquote, li
    &:last-child
      margin-bottom 0 !important

  blockquote
    // override article type
    // type lift small

  thead
    display table-header-group
    font-weight bold

    th
      border-top 1px solid silver

      &:first-child
        border-top-left-radius 0.5rem

      &:last-child
        border-top-right-radius 0.5rem

  thead
  tr:nth-child(2n)
    background-color white - 5%

  th, td
    min-width 4rem
    padding 1rem
    border-right 1px solid silver
    border-bottom 1px solid silver

    &:first-child
      border-left 1px solid silver

  tr
    display table-row

    th, td
      display table-cell

  tbody
    display table-header-group

    tr:last-child

      td

        &:first-child
          border-bottom-left-radius 0.5rem

        &:last-child
          border-bottom-right-radius 0.5rem
