:host
  display block
  :focus
    outline none
    box-shadow 0 0 0 1px var(--accent)

  nav
    display flex
    margin -0.5rem
    & > *
      margin 0.5rem
    & > a
      font-weight inherit
      box-sizing border-box
      color inherit

      // this only matters when focused
      border-radius 0.5rem

      display flex
      flex-direction column
      align-items center
      justify-content flex-start
      text-decoration none

      & > svg
        display inline-block
        stroke currentColor
        height var(--icon-size, 1em)
        width var(--icon-size, 1em)
        margin-bottom 0.5rem

:host(.grid)
  nav
    display grid
    grid-gap 0.5rem
    grid-template-columns repeat(auto-fit, 4rem);
    place-content var(--justify, center)

    & > a
      max-width 4rem

      & > span
        text-align center

:host(.inline)
  nav
    & > a
      width auto
      flex-direction row
      align-items unset
      justify-content center
      //margin-right var(--item-margin, 2em)
      & > svg
        height var(--icon-size, 1em)
        width var(--icon-size, 1em)
        margin-right var(--icon-margin, 0.5em)
