:host
  display block
  :focus
    outline none
    box-shadow 0 0 0 1px var(--accent)

  nav
    & > a
      font-weight inherit
      box-sizing border-box
      color inherit

      // this only matters when focused
      border-radius 0.5rem

      display flex
      align-items center
      justify-content flex-start
      text-decoration none

      & > svg
        display inline-block
        stroke currentColor

:host(.grid)
  nav
    // min device width we're allowing for is 320px
    // however, we have 0.5rem (8px) margins on either
    // side, so that's really 304px, or 19rem (304/16)
    // so at 4.5rem width per item, we have room for
    // 4 items (4 x 4 = 16), plus a gap of 3/4rem
    // (3 x 3/4 = 3, 16 + 3 = 19)
    display grid
    grid-gap 0.75rem
    grid-template-columns repeat(auto-fit, 4rem);
    place-content var(--justify, center)
    padding-top 0.5rem
    padding-bottom 0.5rem

    & > a
      width 4rem
      padding-top 1rem
      padding-right 0.5rem
      padding-left 0.5rem
      padding-bottom 0.5rem

      & > svg
        margin-bottom 0.5rem
        height 1.5rem
        width 1.5rem

      & > span
        text-align center

:host(.inline)
  nav
    display flex
    & > a
      width auto
      flex-direction row
      margin-right var(--item-margin, 2em)
      & > svg
        height var(--icon-size, 1em)
        width var(--icon-size, 1em)
        margin-right var(--icon-margin, 0.5em)

:host(.large)
  line-height 1.25rem
  font-size 1rem

  nav
    grid-gap 1rem
    grid-template-columns repeat(auto-fit, 7rem);
    & > a
      width 7rem
      height 7rem
