.container
  display flex
  justify-content center
  align-items center
  height s("calc(1lh + 0.5rem)")
  aspect-ratio 1 / 1
  padding-block 0.25rem
  border-radius 0.5rem
  color var(--background)

  &.success
    background var(--success)

  &.warning
    background var(--warning)

  & > i
    margin 0
